.tile{
  &--container {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 40px;
    border: 1px solid #dddbdb;
    border-radius: 10px;
    margin: 20px 20px;
    &:hover {
      transform: translateY(-5px);
      transition: 0.2s ease-in-out all;
      border: 1px solid #919090;
    }
  }
}
